PORT=4000
NODE_ENV=development
DATABASE_URL=postgres://HP15@127.0.0.1:5433/kinara_blog
ADMIN_JWT_SECRET=change-this-secret
ADMIN_EMAIL=admin@kinaraland.com
ADMIN_PASSWORD=change-this-password
PUBLIC_BASE_URL=http://localhost:3001
UPLOAD_BASE_URL=http://localhost:4000/uploads
